.navbar-global {
    background-color:#6be02c;
  }
  
  .navbar-global .navbar-brand {
    color: white;
  }
  
  .navbar-global .navbar-user > li > a
  {
    color: white;
  }
  
  .navbar-primary {
    background-color: #333;
    bottom: 0px;
    left: 0px;
    position: absolute;
    top: 51px;
    width: 200px;
    z-index: 8;
    overflow: hidden;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
  }
  
  .navbar-primary.collapsed {
    width: 60px;
  }
  
  .navbar-primary.collapsed .glyphicon {
    font-size: 22px;
  }
  
  .navbar-primary.collapsed .nav-label {
    display: none;
  }
  
  .btn-expand-collapse {
    position: absolute;
    left: 126px;
    bottom: 14px;
    width: 74px;
    padding: 8px 0;
    border-color: black;
    border-top: solid 1px #666;
    border-bottom: solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
    height: 45%;
  }
  
  
  .navbar-primary-menu,
  .navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
  }
  
  .navbar-primary-menu li a {
    display: block;
    padding: 10px 18px;
    text-align: left;
    color: #ccc;
  }
  
  .navbar-primary-menu li a:hover {
    background-color: #000;
    text-decoration: none;
    color: white;
  }
  
  .navbar-primary-menu li a .glyphicon {
    margin-right: 6px;
  }
  
  .navbar-primary-menu li a:hover .glyphicon {
    color: orchid;
  }
  
  .main-content {
    margin-top: 60px;
    margin-left: 200px;
    padding: 20px;
  }
  
  .collapsed + .main-content {
    margin-left: 60px;
  }

  .navbar-element-title {
    color: white;
  }

  .navbar-element-title-collapse {
    display: none;
  }

  .navbar-section-container {
    border: solid 1px #444;
  }