.form-control {
    width: 60%;
}

.container-label {
<<<<<<< HEAD
<<<<<<< HEAD
    width: 28%;
=======
    width: 43%;
>>>>>>> Satya
=======
    width: 43%;
>>>>>>> parent of f20d35b... Completed all api requests for benefits list and removed container class from some divs
}