<div class='current-subscription'>
  <h5 class='title'>Subscriptions</h5>
  <hr color='black'>
  <h6>Current Plans</h6>
  <p class='text'>
    <b>4 Job Slots</b> Monthly Subscription. <b>$299/month.</b><br>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    Click Change Subscription to downgrade or upgrade your subscription
  </p>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <button class='cancel' (click)='cancelAction()'>Cancel Subscription</button>
  <a a class='routerButton' routerLink='add_subscription'>Change Subscription</a>    

  <hr color='black'>
  <p class='text'>Need to add or edit jobs? Go to the Employer Center to manage jobs</p>
  <p class='text'>Self Service Product Terms</p>
    

</div>
