<div class="container bg-white">
  <h2>Manage Company Locations</h2>
</div>

<div class="container bg-white" *ngIf="company">
  <h6>Create a filtered view of your Glassdoor profile for each major workplace location.</h6>
  <table class="table table-hover">
      <thead>
        <th>Display Name</th>
        <th>City</th>
        <th>Address</th>
        <th>Zip</th>
      </thead>
      <tr *ngFor="let location of locations">
        <td>{{ location.name }}</td>
        <td>{{ location.city }}</td>
        <td>{{ location.address }}</td>
        <td>{{ location.zip_code }}</td>
      </tr>
    </table>
    <div class="details">+ Add Company Location</div>
    <div class="container bg-light">
        <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
      
          <div class="form-row">
              <div class="col form-group">
                <label>Display Name</label>
                <input type="text" class="form-control" formControlName="name">
                <div class="alert alert-danger" *ngIf="!companyForm.controls['name'].valid && companyForm.controls['name'].touched">Enter valid name</div>
              </div>
              <div class="col form-group">
                <label>Address</label>
                <input type="text" class="form-control" formControlName="address">
                <div class="alert alert-danger" *ngIf="!companyForm.controls['address'].valid  && companyForm.controls['address'].touched">Enter valid address</div>
              </div>
          </div>

          <div class="form-row">
              <div class="col form-group">
                <label>City</label>
                <input type="text" class="form-control" formControlName="city">
                <div class="alert alert-danger" *ngIf="!companyForm.controls['city'].valid && companyForm.controls['city'].touched">Enter valid city</div>
              </div>
              <div class="col form-group">
                <label>Zip</label>
                <input type="text" class="form-control" formControlName="zip_code">
                <div class="alert alert-danger" *ngIf="!companyForm.controls['zip_code'].valid  && companyForm.controls['zip_code'].touched">Enter valid address</div>
              </div>
          </div>
          <h6>This update will be reflected on your company profile within 2 business days</h6>
          
          <div class="d-flex flex-row-reverse" *ngIf="showSubmitButton()">
              <button type="submit" class="btn btn-primary">Update</button>
          </div>
        </form>
    </div> 
</div>
