<div class='alerts'>
  <h4>Email and Alerts</h4>
  <p>Get tips, announcements and popular lists via email.</p>
  <input class='checkLine'type='checkbox'>Member Updates <p></p>
  <input class='checkLine' type='checkbox'>Newsletter
</div>

<br><br>

<div class='alerts'>
  <h4>Job Alerts</h4>
  <input class='check' type='checkbox'>Personalized Job Reccomendations based on your activity
  <p>Stay on top of new opportunities with job alerts</p>

  <p><b>You currently have no job alerts</b></p>
  <input class='check' type='checkbox'>Job recommendations based on my activity and interests
</div>

<br><br>

<div class='alerts'>
  <h4>Know Your Worth and Salary Updates</h4>
  <p class='changeColor'>Your preferences have been updated. Please allow up to 24 hours for this change to take effect</p>
  
  <p><b>Updates on the latest salaries for jobs in your job alerts</b></p>
  <input class='check' type='checkbox'>Update on my latest marker value from Know Your Worth.
</div>

<br><br>

<div class='alerts'>
  <h4>Career Insights</h4>
  <p>Monthly market tends and insights related to your job and location</p>
</div>

<br><br>

<div class='alerts'>
  <h4>Company Alerts</h4>
  <p><b>You are not following any companies.</b></p>
</div>

<br><br>

<div class='alerts'>
  <h4>Notifications</h4>
  <p>Triggered updates based on your site activity</p>
  <input class='check' type='checkbox'>Someone responded to your review
  <input class='check' type='checkbox'>Helpful jobs and company info based on your own activity
</div>

<br><br>

<div class='alerts'>
  <h4>Updates on Jobs I have Applied To</h4>
  <p class='changeColor'>Your preferences have been updated. Please allow up to 24 hours for this change to take effect</p>
  <input class='check' type='checkbox'>Custom interview prep for jobs I have applied to  
  <input class='check' type='checkbox'>Weekly updates on jobs I have applied to
  
</div>  
<br><br>

<div class='alerts'>
  <h4>Global Email Settings</h4>
  <p>Subscribe to all Glassdoor emails, alerts and notifications</p>
  <p>Subscribe to commercial Glassdoor emails,alerts and notifications. You may continue to recieve occasional Glassdoor transactional
    or relationship messages so long as you have an account with us. For more information, see Glassdoor's Privacy Policy.
  </p>

  <p class='changeColor'>Please allow up to 24 hours for your preferences to be updated</p>
  <button class='button' (click)='Subscribe()'>Subscribe All</button><br><br>
</div>
<br>
<br>