<table class="table table-hover">
    <thead>
      <th>ID (Click for Details)</th>
      <th>Name</th>
      <th>About</th>
      <th>Locations</th>
      <th>Benefits</th>
      <th>Awards</th>
      <th>Updates</th>
    </thead>
    <tr *ngFor="let company of companies">
      <td><a [routerLink]="[company._id]">{{ company._id }}</a></td>
      <td>{{ company.name }}</td>
      <td><a [routerLink]="['description', company._id]">Click here</a></td>
      <td><a [routerLink]="['locations', company._id]">Click here</a></td>
      <td><a [routerLink]="['benefits', company._id]">Click here</a></td>
      <td><a [routerLink]="['awards', company._id]">Click here</a></td>
      <td><a [routerLink]="['updates', company._id]">Click here</a></td>
    </tr>
  </table>
