<div class='basicInfo'>
    
    <h2>Basic Information</h2>
    <form [formGroup]='infoForm'>
        <div class="form-group">
            <label class ='name'>First Name</label>
            <input type="text" class="form-text" formControlName='firstName'>
            <div class="alert alert-danger" *ngIf="!infoForm.controls['firstName'].valid && infoForm.controls['firstName'].touched">Enter valid first name</div>
        </div>
        <div class="form-group">
            <label class ='name'>Last Name</label>
            <input type="text" class="form-text" formControlName='lastName'>
            <div class="alert alert-danger" *ngIf="!infoForm.controls['lastName'].valid && infoForm.controls['lastName'].touched">Enter valid last name</div>
        </div>
        <div class="form-group">
            <label class ='name'>Job Title</label>
            <input type="text" class="form-text" formControlName='jobTitle'>
            <div class="alert alert-danger" *ngIf="!infoForm.controls['jobTitle'].valid && infoForm.controls['jobTitle'].touched">Enter valid job title</div>
        </div>

        <div class="form-group">
            <label class ='name'>Gender</label><br>
            <select class ='dropdown' name="gender">
                <option value='null'></option>
                <option value='Male'>Male</option>
                <option value='Female'>Female</option>
                <option value='neither'>Prefer not to disclose</option>
            </select>
            <div class="alert alert-danger" *ngIf="!infoForm.controls['gender'].valid && infoForm.controls['gender'].touched">Enter your gender</div>
        </div>
        <div class="form-group">
            <label class ='name'>Birth Year</label>
            <input type="text" class="form-control" formControlName='birthYear'>
            <div class="alert alert-danger" *ngIf="!infoForm.controls['birthYear'].valid && infoForm.controls['birthYear'].touched">Enter your birth year</div>
        </div>
        <div class="form-group">
            <label class ='name'>Highest Education</label><br>
            <select class ='dropdown' name="education">
                    <option value='null'></option>
                    <option value='highSchool'>High School Diploma or GED</option>
                    <option value='Bachelors'>Bachelors</option>
                    <option value='Masters'>Masters</option>
                    <option value='PHD'>PhD</option>
                    <option value='progress'>Currently Enrolled</option>
                    <option value='neither'>No College Degree</option>
                </select>
            <div class="alert alert-danger" *ngIf="!infoForm.controls['highestEducation'].valid && infoForm.controls['highestEducation'].touched">Enter your highest education</div>
        </div>
        

    </form>
    <hr  color="grey">
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <button class='button' (click)="updatePassword()">Save Changes</button>
<br>
<br>
</div>
