.basicInfo{
    border: 1px solid black;
    width: 50%;
    align-self: auto;
    font-size: 12px;
    
}
input{
    width:35%;
    
}
.form-text{
    width:45%;
    
}

button{
    background-color: blue;
    color: white;
}
