<div class="container" *ngIf="company">
  <h2>Basic Information</h2>
  <form [formGroup]="companyForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <div class="col form-group">
        <label>Website</label>
        <input type="text" class="form-control" formControlName="website">
        <div class="alert alert-danger" *ngIf="!companyForm.controls['website'].valid && companyForm.controls['website'].touched">Enter valid website</div>
      </div>
      <div class="col form-group">
        <label>Total Employees</label>
        <select class="form-control" formControlName="totalEmployees">
            <option *ngFor="let option of totalEmployeesOptions" [ngValue]="option">{{ option }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="!companyForm.controls['totalEmployees'].valid  && companyForm.controls['totalEmployees'].touched">Enter valid option</div>
      </div>
    </div>
    <div class="form-row">
      <div class="col form-group">
        <label>HQ City</label>
        <input type="text" class="form-control" formControlName="hqCity">
        <div class="alert alert-danger" *ngIf="!companyForm.controls['hqCity'].valid && companyForm.controls['hqCity'].touched">Enter valid HQ City</div>
      </div>
      <div class="col form-group">
        <label>Annual Revenue</label>
        <input type="text" class="form-control" formControlName="annualRevenue">
        <div class="alert alert-danger" *ngIf="!companyForm.controls['annualRevenue'].valid  && companyForm.controls['annualRevenue'].touched">Enter valid zipcode</div>
      </div>
    </div>
    <div class="form-row">
      <div class="col form-group">
        <label>Year Founded</label>
        <select class="form-control" formControlName="yearFounded">
          <option *ngFor="let year of yearFoundedOptions" [ngValue]="year">{{ year }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="!companyForm.controls['yearFounded'].valid && companyForm.controls['yearFounded'].touched">Enter valid HQ City</div>
      </div>
      <div class="col form-group">
        <label>Company Status</label>
        <select class="form-control" formControlName="status">
            <option *ngFor="let status of statusOptions" [ngValue]="status">{{ status }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="!companyForm.controls['status'].valid  && companyForm.controls['status'].touched">Enter valid zipcode</div>
      </div>
    </div>
    <div class="form-group">
      <label>Company Type</label>
      <select class="form-control" formControlName="type">
          <option *ngFor="let type of comapnyTypeOptions" [ngValue]="type">{{ type }}</option>
      </select>
      <div class="alert alert-danger" *ngIf="!companyForm.controls['type'].valid  && companyForm.controls['type'].touched">Enter valid email</div>
    </div>
    <div class="form-group">
      <label>Sector</label>
      <select class="form-control" formControlName="sector">
          <option *ngFor="let sector of sectorOptions" [ngValue]="sector">{{ sector }}</option>
      </select>
      <div class="alert alert-danger" *ngIf="!companyForm.controls['sector'].valid  && companyForm.controls['sector'].touched">Enter valid email</div>
    </div>
    <div class="form-group">
        <label>Industry</label>
        <select class="form-control" formControlName="industry">
            <option *ngFor="let industry of industryOptions" [ngValue]="industry">{{ industry }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="!companyForm.controls['industry'].valid  && companyForm.controls['industry'].touched">Enter valid email</div>
    </div>
    <button type="submit" class="btn btn-primary" *ngIf="showSubmitButton()">Submit</button>
  </form>
</div> 
