<h4>Account Info</h4>
<form [formGroup]='userSetting'>
  <div class='form-group'>
    <label>First Name</label>
    <input type="text" class="form-control" formControlName='firstName'>
    <div class="alert alert-danger" *ngIf="!userSetting.controls['firstName'].valid && userSetting.controls['firstName'].touched">Enter valid first name</div>
  </div>

  <div class='form-group'>
    <label>Last Name</label>
    <input type="text" class="form-control" formControlName='lastName'>
    <div class="alert alert-danger" *ngIf="!userSetting.controls['lastName'].valid && userSetting.controls['lastName-'].touched">Enter valid first name</div>
  </div> 

  <div class='form-group'>
    <label>Job Title</label>
    <input type="text" class="form-control" formControlName='jobTitle'>
    <div class="alert alert-danger" *ngIf="!userSetting.controls['jobTitle'].valid && userSetting.controls['jobTitle'].touched">Enter valid first name</div>
  </div>

  <div class='form-group'>
    <label>Email Address</label>
    <input type="text" class="form-control" formControlName='email'>
    <div class="alert alert-danger" *ngIf="!userSetting.controls['email'].valid && userSetting.controls['email'].touched">Enter valid first name</div>
  </div>

  <div class='form-right'>
    <label>Current Password</label>
    <input type="text" class="form-control" formControlName='currrentPassword'>
    <div class="alert alert-danger" *ngIf="!userSetting.controls['currrentPassword'].valid && userSetting.controls['currrentPassword'].touched">Enter valid first name</div>
  </div>

  <div class='form-right'>
    <label>New Password</label>
    <input type="text" class="form-control" formControlName='newPassword'>
    <div class="alert alert-danger" *ngIf="!userSetting.controls['newPassword'].valid && userSetting.controls['newPassword'].touched">Enter valid first name</div>
  </div>

  <div class="form-right">
    <label>Confirm Password</label>
    <input type="text" class="form-control" formControlName='newPassword'>
    <div class="alert alert-danger" *ngIf="!userSetting.controls['newPassword'].valid && userSetting.controls['newPassword'].touched">Enter valid first name</div>
  
  </div>
  <button class='cancel' (click)='cancelAction()'>Reset</button>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  <button class='save' (click)='saveChanges()'>Save Changes</button>
</form>

