<title>Password Reset</title>
<form [formGroup]='passwordReset'>
    <h2>Password Reset</h2>
    <div class="form-group">
        <label class ='name'>Current Password</label>
        <input type="password" class="form-control" formControlName='password'>
        <div class="alert alert-danger" *ngIf="!passwordReset.controls['password'].touched">Enter valid password</div>  
        
    </div>
    <div class="form-group">
        <label class ='name'>New Password</label>
        <input type='password' class= 'form-control' formControlName='newPassword'>
        <p> New Password must follow following criteria.<br>
            <b>Must have the following:</b><br>
            At least 8 characters in length<br>
            At least 1 lowercase letter<br>
            At least 1 uppercase letter<br>
            At least 1 number<br>
            At least 1 special character
        </p>
        <div class="alert alert-danger" *ngIf="!passwordReset.controls['password'].valid && passwordReset.controls['password'].touched">Enter valid password</div>  
    </div>
    <div class="form-group">
      <label class ='name'>Confirm New Password</label>
      <input type='password' class= 'form-control' formControlName='newPassword'>
      <div class="alert alert-danger" *ngIf="!passwordReset.controls['password'].valid && passwordReset.controls['password'].touched">Enter valid password</div>
      <button type="submit" *ngIf="passwordReset.valid" class="btn-btn-primary">Submit</button>
      
    </div>
  </form>